/* h1 is the title of the website */

h1 {
  color: #000000;
  font-size: 40px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin-top: 20px;
}

/* h2 is the title of the list of games */

h2 {
  color: #000000;
  font-size: 30px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin-top: 20px;
}

/* organize the ul in a grid of 4 items per row */

ul {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
  gap: 5%;
}

/* style the li */

li {
  background-color: #f4f4f4;
  width: 200px;
  height: 200px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

li:hover {
  background-color: #e0e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* style the a and the img */

a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
}

img {
  border-radius: 10px;
}